@model zpi_aspnet_test.ViewModels.MainViewModel

<ul class="nav nav-tabs" >
    <li class="nav-item"><a data-togle="tab" class="nav-link" href="#byProduct">By product</a></li>
    <li class="nav-item"><a data-togle="tab" class="nav-link" href="#byCategory">By category</a></li>
    <li class="nav-item"><a data-togle="tab" class="nav-link" href="#byState">By state</a></li>
</ul>

<div class="tab-content">
    <div id="byProduct" class="row tab-pane fade in active" style="margin-top: 10px">
        @using (Html.BeginForm("Index", "ProductSelection", FormMethod.Post, new { @class = "form-inline col-md-12", role = "form" }))
        {
            <div class="form-group">
                @Html.DropDownList("product", Model.ProductSelectList, "Select Product", new { @id = "selectProduct", @class = "form-control", @required = true })
            </div>
            <div class="form-group">
                <input type="text"  pattern="(^\d+([,.]\d+)*?)" step="0.01" min="0.01" class="target targetRegex form-control" id="priceInput" name="preferredPriceInput" placeholder="Preferred Price" required />
            </div>
            <div class="form-group">
                <input type="number" step="1" min="1" class="target form-control" id="numberOfProducts" name="count" placeholder="Number Of Products" required />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        }
    </div>

    <div id="byCategory" class="row tab-pane fade" style="margin-top: 10px">
        @using (Html.BeginForm("Index", "CategorySelection", FormMethod.Post, new { @class = "form-inline col-md-12", role = "form" }))
        {
            <div class="form-group">
                @Html.DropDownList("category", Model.CategorySelectList, "Select Category", new { @id = "selectCategory", @class = "form-control", @required = true })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        }
    </div>

    <div id="byState" class="row tab-pane fade" style="margin-top: 10px">
        @using (Html.BeginForm("Index", "StateSelection", FormMethod.Post, new { @class = "form-inline col-md-12", role = "form" }))
        {
            <div class="form-group">
                @Html.DropDownList("state", Model.StateSelectList, "Select State", new { @id = "selectState", @class = "form-control", @required = true })
            </div>
            <div class="form-group">
                @Html.DropDownList("product", Model.ProductSelectList, "Select Product", new { @id = "selectCategory", @class = "form-control", @required = true })
            </div>
            <div class="form-group">
                <input type="text" pattern="(^\d+([,.]\d+)*?)" step="0.01" min="0.01" class="target targetRegex form-control" id="priceInput" name="preferredPriceInput" placeholder="Preferred Price" required />
            </div>
            <div class="form-group">
                <input type="number" step="1" min="1" class="target form-control" id="numberOfProducts" name="count" placeholder="Number Of Products" required />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        }
    </div>
</div>
