@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    Our app is a system which allows to unify goods sales in the United States of America. Application contains:
    <ul>
        <li>storage of products for sale</li>
        <li>
            assigning categories to the product
        </li>
        <li>
            calculation of the final price depending on the sales tax applicable
            in a given state.
        </li>
        <li>
            calculating and controlling the margin based on the purchase price of goods
        </li>
        <li>
            calculating the price of a specific product in a specific state
        </li>
        this is the development version of American Calculator. We apologize for any inconvenience.

    </ul>


</p>
